.hotelsList {
  background-color: white;
  width: 100%;
  height: 500px;
  position: absolute;
  overflow-y: scroll;
}
.flex-item {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 76px;
  width: 75%;
  height: 189px;
  background: #f2f3f9;
  box-shadow: 0px 30px 80px rgba(88, 92, 229, 0.12);
  border-radius: 25px;
}
