/* h1 {
  background-color: black;
} */

.transportImageWrapper {
  position: relative;
  text-align: center;
}

.transportTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  font-weight: 700;
}

.searchWrapper {
  height: 250px;
  width: 100%;
  background-color: white;
  padding-top: 30px;
}
.searchBorder {
  width: 90%;
  height: 172px;
  background: #ffffff;
  border: 2px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 50px;
}
.searchBorder .form-rounded {
  border: 2px solid #8e8e8e;
  border-radius: 2rem;
  width: 95%;
  height: 51px;
  font-size: 18px;
}

#searchButton {
  width: 192%;
  height: 50%;
  border: none;
  background: #43468a;
  border-radius: 25px;

  /* position: absolute; */
}

.searchText {
  color: white;
  padding-top: 45%;
}
