<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Attractions</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/attractionsResult.css')}}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/attractions.css')}}">
</head>

<body>
    {% extends "template.html" %}
    {% block content %}
    
      
    <div class="attractionsImageWrapper">
      <img src ="{{ url_for('static',filename='assets/img/attractionsHeaderImage.png')}}" width = 100%/>
      <div class = "attractionsTitle">Attractions</div>
    </div>
    <div class= "searchWrapper">
      <div class = "searchBorder mx-auto row">
        <div class = "col d-flex flex-wrap align-content-center justify-content-center">
            <input
              type="search"
              class="form-control form-rounded"
              id="searchAttraction"
              name = "searchAttraction"
              placeholder="Search Attraction"
            />
  
        </div>

        <div class = "col d-flex flex-wrap align-content-center justify-content-center">
          <input
            type="search"
            class="form-control form-rounded"
            id="dateSelection"
            name = "dateSelection"
            placeholder="Select Date"
          />

        </div>

        <div class = "col d-flex flex-wrap align-content-center justify-content-center">
    
            
            <input
              type="search"
              class="form-control form-rounded m-0"
              id="dateSelection"
              name = "dateSelection"
              placeholder="Total Pax:"
            />
         
          <div class = "row d-flex flex-wrap px-4">
           
              <input
                type="search "
                class="col form-control form-rounded mt-3 mr-2"
                id="paxSelection"
                name = "adults"
                placeholder="Adults:"
              />
        
              <input
                type="search"
                class="col form-control form-rounded mt-3 ml-2"
                id="paxSelection"
                name = "children"
                placeholder="Children:"
              />
            
          </div>

        </div>
        
        <div class = "col-1 d-flex flex-wrap align-content-center mr-3">
          <a href="/attractionsResult" class = "searchButton" id = "searchButton" type="submit">
            <div class = "searchText mx-auto my-auto">
              Search
            </div>
          </a>
        </div>
      </div>
    </div>

    <ul class = "attractionsList">
      <li class = "flex-item"></li>
      <li class = "flex-item"></li>
      <li class = "flex-item"></li>
      <li class = "flex-item"></li>
      <li class = "flex-item"></li>
    </ul>





    





    {% endblock %}
</body>