<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Attractions</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/attractions.css')}}">
</head>

<body>
    {% extends "template.html" %}
    {% block content %}
    
      
    <div class="attractionsImageWrapper">
      <img src ="{{ url_for('static',filename='assets/img/attractionsHeaderImage.png')}}" width = 100%/>
      <div class = "attractionsTitle">Attractions</div>
    </div>

    <div>
      <div class = "attractionsList ">
        <div class = "flex-item">
        </div>
        <div class = "flex-item">
        </div>
        <div class = "flex-item">
        </div>
      </div>
    <div>


    


    {% endblock %}
</body>