<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Account</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/account.css')}}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/plans.css')}}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/emptyPlan.css')}}">
  <!-- <link rel="stylesheet" href="{{ url_for('static',filename='css/flights.css')}}"> -->

</head>

<body>
    {% extends "template.html" %}
    {% block content %}

    <!-- <div class="wholeWrapper">


    </div> -->

    <nav class="navbar bg-light" id = "sideBarWrapper">

      <!-- Links -->
      <ul class="navbar-nav">
          <li class="nav-item" id="imageWrapper">
              <img
                  src="{{ url_for('static',filename='assets/img/userIcon.png')}}"
              />
          </li>
        <li class="nav-item">
          <a class="nav-link" href="/account">My account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="plans">My plans</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/settings">Settings</a>
        </li>
      </ul>
    
    </nav>

  <div class="overallWrapper">
    <div class="headerWrapper">
      <div class = "headerText">
          Plan 1
      </div>
      <div class="dateText">
        01/02-03/02
      </div>
    </div>

    <div class="flightsTitle">
      Flights
    </div>

    <div class="flightsWrapping">

        <div class="empty">
            Flights is empty.
        </div>

      <div class="hotelsTitle">
        Hotels
      </div>

      <div class="empty">
        Hotels is empty.
    </div>

      <div class="itineraryTitle">
        Itinerary
      </div>

      <div class="itineraryDate">
        Tuesday, February 1st
      </div>

      <div class="scrolling-wrapper">
        {% for result in result %}
        <div class="card">
          <div class = "mx-auto">
            <img src= "https://www.logolynx.com/images/logolynx/2b/2bbabac56c986b5fa404ced4eef54d36.jpeg" class="logo mt-2" />
          </div>
          
          <div class =  "info mx-auto pt-2">


            <div class = "font1">
              {% set d = result.depart_date %}
              date: {{d[12:16]}}
              time: {{d[0:10]}}
            </div>

            <div class = "font2 mt-1">
              {{result.origin}} - {{result.destination}}
            </div>

            <div class = "font2">
              $SGD{{result.price}}
            </div>
          </div>
          

        </div>
        {% endfor %}
      </div>

      <div>

      </div>
      <hr>
      <div class="itineraryDate">
        Wednesday, February 2nd
      </div>

      <div class="scrolling-wrapper">
        {% for result in result %}
        <div class="card">
          <div class = "mx-auto">
            <img src= "https://www.logolynx.com/images/logolynx/2b/2bbabac56c986b5fa404ced4eef54d36.jpeg" class="logo mt-2" />
          </div>
          
          <div class =  "info mx-auto pt-2">


            <div class = "font1">
              {% set d = result.depart_date %}
              date: {{d[12:16]}}
              time: {{d[0:10]}}
            </div>

            <div class = "font2 mt-1">
              {{result.origin}} - {{result.destination}}
            </div>

            <div class = "font2">
              $SGD{{result.price}}
            </div>
          </div>
          

        </div>
        {% endfor %}
      </div>

      <hr>

      <div class="itineraryDate">
        Thursday, February 3rd
      </div>

      <div class="scrolling-wrapper">
        {% for result in result %}
        <div class="card">
          <div class = "mx-auto">
            <img src= "https://www.logolynx.com/images/logolynx/2b/2bbabac56c986b5fa404ced4eef54d36.jpeg" class="logo mt-2" />
          </div>
          
          <div class =  "info mx-auto pt-2">


            <div class = "font1">
              {% set d = result.depart_date %}
              date: {{d[12:16]}}
              time: {{d[0:10]}}
            </div>

            <div class = "font2 mt-1">
              {{result.origin}} - {{result.destination}}
            </div>

            <div class = "font2">
              $SGD{{result.price}}
            </div>
          </div>
          

        </div>
        {% endfor %}
      </div>

      <!-- <div class="budgetWrapper">
        <div class="itineraryDate">
          Budget
        </div>

        <button class = "expenseButton ml-5" >
          <a class = "text-white" href="{{ url_for('login') }}">
               + Add Expense
          </a>
        </button>
      </div> -->


      <!-- <div class="itineraryDate">
        Tuesday, February 1st
      </div> -->
  </div>



    {% endblock %}
</body>