<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Flights</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- change to flights css once done-->
  <!-- along with div classes-->
  <link rel="stylesheet" href="{{ url_for('static',filename='css/flights.css')}}">
  <!-- change to flights css once done-->
  <!-- along with div classes-->

</head>

<body>
  <script src="/static/javascript/hotels.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase-firestore.js"></script>
    <script>
	    // Initialize Firebase
	    var config = {
		    apiKey: "AIzaSyDFOHLm7znnFt-n_HeemWcIhhh_9wlk4qo",
			authDomain: "travello-fd292.firebaseapp.com",
			databaseURL: "https://travello-fd292-default-rtdb.asia-southeast1.firebasedatabase.app",
			projectId: "travello-fd292",
			storageBucket: "travello-fd292.appspot.com",
			messagingSenderId: "771482085344",
			appId: "1:771482085344:web:f596fe26914b66601f6d85",
			measurementId: "G-RN0N391VX2"
	    };
	    firebase.initializeApp(config);
	    const db = firebase.firestore(); //reference to database and store to const db
	    db.settings({ timestampsInSnapshots: true }); 
    </script>
    {% extends "template.html" %}
    {% block content %}


    <div class="ImageWrapper">
      <img src ="{{ url_for('static',filename='assets/img/flightsHeaderImage.png')}}" width = 100%/>
      <div class = "Title">Flights</div>
    </div>

    <form method="POST">

      <div class= "searchWrapper">
        <div class = "searchBorder mx-auto row">
  
          <div class = "col d-flex flex-wrap align-content-center justify-content-center">
  
            <input
              type="search"
              class="form-control form-rounded"
              id="start_location"
              name = "start_location"
              placeholder="From:"
            />
  
          </div>
  
  
          <div class = "col d-flex flex-wrap align-content-center justify-content-center">
  
            <input
              type="search"
              class="form-control form-rounded"
              id="end_location"
              name = "end_location"
              placeholder="To:"
            />
  
          </div>
  
  
          <div class = "col d-flex flex-wrap align-content-center justify-content-center">
  
            <input
              type="date"
              class="col form-control form-rounded "
              id="checkOutDate"
              name = "checkoutDate"
              placeholder="Check out Date:"
            />
  
          </div>
  
  
  
  
          <div class = "col d-flex flex-wrap align-content-center justify-content-center">
  
            <select
              name="flight_class"
              class="form-control form-rounded "
              id="flight_class"
              name = "flight_class"
            >
            {% for choice in flight_class %}
                <option value="{{choice}}">{{choice}}</option>"
            {% endfor %}
            </select>
  
            <select
              name="no_travellers"
              class="form-control form-rounded mt-3"
              id="no_travellers"
              name = "no_travellers"
            >
            {% for n_travellers in no_travellers %}
                <option value="{{n_travellers}}">{{n_travellers}}</option>"
            {% endfor %}
            </select>
  
          </div>
  
          <div class = "col-1 d-flex flex-wrap align-content-center mr-3">
            <a class = "btn btn-primary" id = "searchButton" type="submit" href="{{ url_for('flightsResult') }}">
              <div class = "searchText mx-auto my-auto">
                Search
              </div>
            </a>
          </div>
        </div>
      </div>
  

    </form>

    <!-- end of search bar-->

    <ul class = "attractionsList ">
      {% for result in finalList %}
      <li class = "flex-item mx-auto row ">

        <div class= "col d-flex justify-content-center align-items-center"> 
        
         <img src= "https://1000logos.net/wp-content/uploads/2021/07/Scoot-Logo.jpg" class="logo" />


        </div>

        <!--Substring-->
        {% set d = result.depart_date %}
      
        <div class = "col-6 d-flex align-items-center">
          <div>
            <div class = "font1" id = "time{{d[11:16]}}">{{d[11:16]}}</div> 
            <div class = "font1" id = "date{{d[11:16]}}">{{d[0:10]}} </div>
            <div class = "font2" >{{result.origin}} - {{result.destination}}</div>
            <div class = "font2" >Transfers: {{result.transfers}}</div>
            <div class = "font2" id = "main_airlinename{{d[11:16]}}"> {{result.main_airline}} </div>
            <div class = "font2">Book from: 
              <a class = "font2" href={{result.gate}}> {{result.gate}}</a>
            </div>
          </div>
        </div>

        <div class = "col my-auto">
          <div class = "">
            <div class = "font3" id = "price{{d[11:16]}}">
              $SGD{{result.price}}
            </div>
            
            <div class = "a" id = "ai">
              <input type="submit" name="addPlan" value="{{hotelName}}" class="random" >
                <a class = "addButton mt-2 mx-auto" id = "addButton" type="submit" data-toggle="modal" data-target="#exampleModalCenter" onclick = 'show("{{d[11:16]}}")'>
                  <!-- <input type ="submit" name="addPlan" value="{{hotelName}}"> -->
                  <div class = "searchText mx-auto my-auto">
                    Add to Plan
                  </div>
                </a>
              </input>
            </div>
            <script>
              //nuke the buttons if the user is not submit
              if (sessionStorage.getItem("email") == null){ //not logged in
                  const buttons = document.querySelectorAll('.a');
                  buttons.forEach(button =>{button.remove()});
                }
              var date;
              var price;
              var airline;
              
              function show(n){
                dirty_time = document.getElementById("time".concat(n)).innerHTML;
                dirty_date = document.getElementById('date'.concat(n)).innerHTML;
                date = new Date(dirty_date+dirty_time);
                airline = document.getElementById("main_airlinename".concat(n)).innerHTML;
                price = document.getElementById("price".concat(n)).innerHTML;
                console.log(date);
              }
              
              
      
            </script>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>

     <!-- Modal -->
     <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">{{hotelName}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="planNameWrapper">
              Plan Name:

              <div class = "col d-flex flex-wrap">

                <!-- <input
                  type="search"
                  class="form-control form-rounded"
                  id="searchHotels"
                  name = "searchHotels"
                  placeholder="Enter plan name"
                /> -->

                <select
                  name="plan_no"
                  class="form-control form-rounded"
                  id="plan_no"
                  name = "plan_no"
                >
                {% for plan_no in plan_no %}
                    <option value="{{plan_no}}">{{plan_no}}</option>"
                {% endfor %}
                </select>
    
              </div>


              
            </div>
            
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id = "closeButton" data-dismiss="modal">Close</button>
            <button onclick="savePlans()" type="button" class="btn btn-primary" id="saveButton" data-dismiss="modal">Save</button>
          
            <script>
              function countProperties(obj) { //count amt of elements in an object
                var count = 0;
            
                for(var prop in obj) {
                    if(obj.hasOwnProperty(prop))
                        ++count;
                }
            
                return count;
              }
              function savePlans(){
                var which_planObj = document.getElementById("plan_no");
                var which_plan = parseInt(which_planObj.options[which_planObj.selectedIndex].value);
                console.log(date);
                console.log(price);
                console.log(airline);
                console.log(which_plan);
                if(!which_plan){
                  alert("No plan chosen");
                }

                db.collection('accounts').doc(sessionStorage.getItem("email")).get().then((doc) => {
                  var plans = doc.data().plans;
                  var object = plans; //three plans
                  var plan = object[which_plan];
                  var planSelected = which_plan;
                  //var date = 

                  var copyPlan = {};
                  
                  Object.assign(copyPlan,plan);

                  console.log(copyPlan.flights);
                  var numberOfFlights = countProperties(copyPlan.flights);
                  console.log(numberOfFlights);

                  var newFlight = {}

                  //var date = new Date(document.getElementById("plandateSelection").value);
                  //date = String(date);
                  var keyValue = date;

                  var flightCounter = numberOfFlights + 1;
                  newFlight[flightCounter] = {
                                              date:date,
                                              price: price,
                                              airline: airline,

                                            };

                  copyPlan.flights = newFlight;

                  //console.log(copyPlan.attractions);

                  //plan.attractions = newAttraction; 

                  var finalPlan = {};
                  finalPlan[which_plan] = copyPlan;

                  
                  db.collection('accounts').doc(sessionStorage.getItem("email")).set({
                    plans : finalPlan
                  }, { merge : true});
                  
                  console.log("Flight object:");
                  console.log(newFlight);
                });

              }
            </script>
          </div>
          
        
        </div>
      </div>
    </div>
    {% endblock %}
</body>
