<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>homepage</title>
</head>

<body>
{% extends "template.html" %}
{% block content %}
<div class="container-fluid" >
  <div class="justify-content-center mb-3 border-bottom">
    <h2 class="text-center">World map of corona cases - Last Updated: {{update}}</h2>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 px-md-6">
        <table class="table table-borderless">
          <caption></caption>
          <thead>
          <th id="header" class="text-center" colspan="2">Top 10 Countries by cases</th>
          </thead>
          <tbody>
          {% for key,value in top_country.iterrows() %}
          <tr>
            <td>{{key}}</td>
            <td>{{value.values[0]}}</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col-md-8">
        {{map|safe}}
      </div>
    </div>
  </div>
</div>
{% endblock %}
</body>
</html>