<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Hotels</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/hotels.css')}}">
</head>

<body>
  <script src = "static/javascript/hotels.js"></script>
    {% extends "template.html" %}
    {% block content %}



    <div class="hotelsImageWrapper">
      <img src ="{{ url_for('static',filename='assets/img/hotelHeaderImage.png')}}" width = 100%/>
      <div class = "hotelsTitle">Hotels</div>
    </div>

    <form action = '#' method="POST" name="searchHotels2">
      <div class= "searchWrapper">
        <div class = "searchBorder mx-auto row">
          <div class = "col d-flex flex-wrap align-content-center justify-content-center">
              <input
                type="search"
                class="form-control form-rounded"
                id="searchHotels"
                name = "searchHotels"
                placeholder="Enter a destination or property"
              />
  
          </div>
  
          <div class = "col d-flex flex-wrap align-content-center justify-content-center">
  
  
            <span class = "form-rounded pl-2 pr-4 d-flex align-items-center">
              <h2 class = "col-8 choiceFont my-auto ">Number of nights: </h2>
              <input
                type="search"
                class="form-control border-0"
                id="noOfNights"
                name = "noOfNights"
                placeholder = "0"
              />
            </span>
  
            <div class = "row d-flex flex-wrap px-4">
                <!-- <label>Calendar: </label> -->
                <input
                  type="date"
                  class="col form-control form-rounded mt-3 mr-2"
                  id="checkInDate"
                  name = "checkInDate"
                  placeholder="Check in date:"
                  onchange = "cal_days()"
                />
  
                <!-- <label>Calendar: </label> -->
                <input
                  type="date"
                  class="col form-control form-rounded mt-3 ml-2"
                  id="checkOutDate"
                  name = "checkoutDate"
                  placeholder="Check out Date:"
                  onchange= "cal_days()"
                />
  
            </div>
  
          </div>
  
          <div class = "col d-flex flex-wrap align-content-center justify-content-center">
  
            <span class = "form-rounded px-4 d-flex align-items-center">
              <h2 class = "choiceFont my-auto ">Total:</h2>
              <input
                type="search"
                class="form-control border-0 ml-3"
                id="total_pax"
                name = "total_pax"
                placeholder = "0"
              />
            </span>
              <span class = "row d-flex  align-items-center form-rounded px-4 mt-3">
                <h1 class = "choiceFont my-auto">Adults:</h1>
                <select
                    name="no_adults"
                    class="col form-control border-0 mr-1"
                    id="adults"
                    name = "adults"
                    onchange = "cal_pax()"
                   
                  >
                    {% for adults in no_adults %}
                        <option value="{{adults}}">{{adults}}</option>"
                    {% endfor %}
                  </select>
    
                  <h1 class = "choiceFont my-auto">Children:</h1>
    
    
                  <select
                  name="no_children"
                  class="col form-control border-0 ml-1"
                  id="children"
                  name = "children"
                  onchange = "cal_pax()"
                 
                  >
                  {% for child in no_children %}
                      <option value="{{child}}">{{child}}</option>"
                  {% endfor %}
                  </select>
                  
                
                </span>
  
          </div>
  
          <div class = "col-1 d-flex flex-wrap align-content-center mr-3">
            <button href="/hotelsResult" class = "btn btn-primary" id = "searchButton" type="submit" name="hotelsButton" >
              <div class = "searchText my-auto mx-auto">
                Search
              </div>
            </button>
          </div>
        </div>
      </div>

    </form>
    

    <!-- <ul class = "hotelsList">
      <li class = "flex-item"></li>
      <li class = "flex-item"></li>
      <li class = "flex-item"></li>
      <li class = "flex-item"></li>
      <li class = "flex-item"></li>
    </ul> -->
    <div class = "Recommended-Wrapper">
      <div class = "Recommended-Title">Recommended List</div>
    </div>

    <div>
      <div class="scrolling-wrapper">
        {% for result in result if result.price > 410 %}
        <div class="card">
          <div class = "mx-auto">
            <img src= "{{result.picture}}" class="logo mt-2" />
          </div>


          <div class =  "info mx-auto pt-2">

            <div class = "font1">
              {{result.name}}
            </div>
            <span class = "font2 mt-1">
              <img src ="{{ url_for('static',filename='assets/img/pin.png')}}" width = 5%/>
              {{result.address.street}}
            </span>

            <div class = "font2">
              $SGD{{result.price}}/Night
            </div>
          </div>
  
        </div>
        {% endfor %}

      </div>
    </div>

    {% endblock %}
</body>
