<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Hotels</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/hotels.css')}}">
</head>

<body>
    {% extends "template.html" %}
    {% block content %}

    
      
    <div class="hotelsImageWrapper">
      <img src ="{{ url_for('static',filename='assets/img/hotelHeaderImage.png')}}" width = 100%/>
      <div class = "hotelsTitle">Hotels</div>
    </div>
    <div class= "searchWrapper">
      <div class = "searchBorder mx-auto row">
        <div class = "col d-flex flex-wrap align-content-center justify-content-center">
            <input
              type="search"
              class="form-control form-rounded"
              id="searchHotels"
              name = "searchHotels"
              placeholder="Enter a destination or property"
            />
  
        </div>

        <div class = "col d-flex flex-wrap align-content-center justify-content-center">
    
            
            <input
              type="search"
              class="form-control form-rounded m-0"
              id="noOfNights"
              name = "noOfNights"
              placeholder="Number of Nights:"
            />
         
          <div class = "row d-flex flex-wrap px-4">
              <!-- <label>Calendar: </label> -->
              <input
                type="date"
                class="col form-control form-rounded mt-3 mr-2"
                id="checkInDate"
                name = "checkInDate"
                placeholder="Check in date:"
              />

              <!-- <label>Calendar: </label> -->
              <input
                type="date"
                class="col form-control form-rounded mt-3 ml-2"
                id="checkOutDate"
                name = "checkoutDate"
                placeholder="Check out Date:"
              />
            
          </div>

        </div>

        <div class = "col d-flex flex-wrap align-content-center justify-content-center">
    
            
            <input
              type="search"
              class="form-control form-rounded m-0"
              id="dateSelection"
              name = "dateSelection"
              placeholder="Total Pax:"
            />
         
          <div class = "row d-flex flex-wrap px-4">

              <select 
                name="number"
                class="col form-control form-rounded mt-3 mr-2"
                id="paxSelection"
                name = "adults"
                placeholder="Adults:"
              >
                {% for number in numbers %}
                    <option value="{{number}}">{{number}}</option>"
                {% endfor %}
              </select>

              <!-- <select name="number" method="GET" action="/">
                <option value="{{numbers[0]}}" selected>{{numbers[0]}}</option>
                {% for colour in numbers[1:] %}
                  <option value="{number}}">{{number}}</option>
                {% endfor %}
              </select> -->

              <!-- <input
                class="col form-control form-rounded mt-3 mr-2"
                id="paxSelection"
                name = "adults"
                placeholder="Adults:"
              /> -->
        
              <!-- <input
                type="number"
                min="1"
                max="10"
                class="col form-control form-rounded mt-3 ml-2"
                id="paxSelection"
                name = "children"
                placeholder="Children:"
              /> -->

              <select 
                name="number"
                class="col form-control form-rounded mt-3 mr-2"
                id="paxSelection"
                name = "children"
                placeholder="Children:"
              >
                {% for number in numbers %}
                    <option value="{{number}}">{{number}}</option>"
                {% endfor %}
              </select>
            
          </div>

        </div>
        
        <div class = "col-1 d-flex flex-wrap align-content-center mr-3">
          <a href="/hotelsResult" class = "btn btn-primary" id = "searchButton" type="submit">
            Search
          </a>
        </div>
      </div>
    </div>

    <!-- <ul class = "hotelsList">
      <li class = "flex-item"></li>
      <li class = "flex-item"></li>
      <li class = "flex-item"></li>
      <li class = "flex-item"></li>
      <li class = "flex-item"></li>
    </ul> -->
    <div class = "Recommended-Wrapper">
      <div class = "Recommended-Title">Recommended List</div>
    </div>

    <div>
      <div class="scrolling-wrapper">
        <div class="card"><h2>Card</h2></div>
        <div class="card"><h2>Card</h2></div>
        <div class="card"><h2>Card</h2></div>
        <div class="card"><h2>Card</h2></div>
        <div class="card"><h2>Card</h2></div>
        <div class="card"><h2>Card</h2></div>
        <div class="card"><h2>Card</h2></div>
        <div class="card"><h2>Card</h2></div>
        <div class="card"><h2>Card</h2></div>
      </div>
    </div>

    {% endblock %}
</body>