<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Account</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/account.css')}}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/settings.css')}}">
</head>

<body>
    <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase-firestore.js"></script>
    <script>
      //import { initializeApp } from 'firebase/app'
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyDFOHLm7znnFt-n_HeemWcIhhh_9wlk4qo",
      authDomain: "travello-fd292.firebaseapp.com",
      databaseURL: "https://travello-fd292-default-rtdb.asia-southeast1.firebasedatabase.app",
      projectId: "travello-fd292",
      storageBucket: "travello-fd292.appspot.com",
      messagingSenderId: "771482085344",
      appId: "1:771482085344:web:f596fe26914b66601f6d85",
      measurementId: "G-RN0N391VX2"
      };
      firebase.initializeApp(config);
      const db = firebase.firestore(); //reference to database and store to const db
      db.settings({ timestampsInSnapshots: true }); 
    </script>
    <script src = "static/javascript/settings.js"></script>
    <script>
      let loginData = {
        email : sessionStorage.getItem("email"),
        password : sessionStorage.getItem("password")
    }
    </script>
    {% extends "template.html" %}
    {% block content %}

    <nav class="navbar bg-light" id = "sideBarWrapper">

        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item" id="imageWrapper">
                <img
                    src="{{ url_for('static',filename='assets/img/userIcon.png')}}"
                />
            </li>
          <li class="nav-item">
            <a class="nav-link" href="/account">My account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="plans">My plans</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/settings">Settings</a>
          </li>
        </ul>
      
    </nav>

    <div class="welcomeWrapper">

        <div class = "welcomeText">
            Your <br> Profile
        </div>
    </div>

    <!-- <div class="changePasswordWrapper2">

    </div> -->

    <div class="settingsWrapper">

      <div class="changePasswordWrapper2">
        <div class="emailText">
          Email:
          <!--
          <div class="form-floating" id = '1'>
            <input
              type="email"
              class="form-control form-rounded mb-2"
              id="floatingInput"
              name = "floatingInput"
              placeholder="name@example.com"
            />
          </div>
          -->
        <div id="email"> email </div>
        <script>
          //document.getElementById("email").innerHTML = loginData.email;
          document.getElementById("email").innerHTML = sessionStorage.getItem("email");
        </script>
        </div>

        
        <div class="passwordText">
          Password:
          <!--
          <div class="form-floating" id = '2'>
            <input
              type="password"
              class="form-control form-rounded mt-2"
              id="floatingPassword"
              name = "floatingPassword"
              placeholder="Password"
            />
          </div>
          -->
          <div id="password"> password </div>
          <script>
            //document.getElementById("password").innerHTML = loginData.password
            document.getElementById("password").innerHTML = sessionStorage.getItem("password");
          </script>
        </div>
        <!--
        <button type="submit" class="confirmButton">
          Confirm
        </button>
        -->

      </div>


      <div class="changePasswordWrapper">
        Change Password:
      </div>

      <div class="changePasswordWrapper2">

        <!-- start form here -->
        <div class="passwordText">
          New Password:
          <div class="form-floating" id = '2'>
            <input
              type="password"
              class="form-control form-rounded mt-2"
              id="newPassword"
              name = "floatingPassword1"
              placeholder="Password"
            />
          </div>
        </div>
  
        <div class="passwordText">
          Confirm:
          <div class="form-floating" id = '3'>
            <input
              type="password"
              class="form-control form-rounded mt-2"
              id="verifyPassword"
              name = "floatingPassword"
              placeholder="Password"
            />
          </div>
        </div>
  
        <button type="submit" class="confirmButton" id="changePasswordButton" onclick = "changePassword()">
          Save
        </button>

      </div>

    </div>

    {% endblock %}

    
    
</body>