<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Account</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/account.css')}}">
</head>

<body>
    {% extends "template.html" %}
    {% block content %}

    <nav class="navbar bg-light" id = "sideBarWrapper">

        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item" id="imageWrapper">
                <img
                    src="{{ url_for('static',filename='assets/img/userIcon.png')}}"
                />
            </li>
          <li class="nav-item">
            <a class="nav-link" href="/account">My account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="plans">My plans</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/settings">Settings</a>
          </li>
        </ul>
      
    </nav>

    <div class="welcomeWrapper">

        <div class = "welcomeText">
            Profile
        </div>
    </div>

    {% endblock %}
</body>