<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>homepage</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/home.css')}}">
</head>

<body>
{% extends "template.html" %}
{% block content %}

<div class = "topWrapper row">
  <div class = "col wordsWrapper ml-5 d-flex flex-wrap align-content-center">
    <div class = "title1 ml-5">
        You have signed out from Travello.
    </div>
    <div class = "paragraph1 ml-5">
      See you soon!


    </div>


  </div>
  <div class = "col ">
    <img src ="{{ url_for('static',filename='assets/img/homeImage.png')}}"
          class = "ml-2">
  </div>

</div>

{% endblock %}
</body>
</html>
