<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

  <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script> 
	<script src="static/javascript/transportTest.js"> </script>
  <script src="static/javascript/transportSearch.js"> </script>
  
  <meta charset="utf-8">
  <title>Transport</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/transport.css')}}">
</head>

<body>
	
    {% extends "template.html" %}
    {% block content %}
    <!-- <br> -->
    <!-- <h1> This is the transport page. </h1> -->

    <div class = "transportImageWrapper">
      <img src ="{{ url_for('static',filename='assets/img/transport.png')}}" width = 100%/>
      <div class = "transportTitle">Transport</div>
    </div>
	
    <div class= "searchWrapper">
      <div class = "searchBorder mx-auto row">
        <div class = "col d-flex flex-wrap align-content-center justify-content-center">
            <input
              type="search"
              class="form-control form-rounded"
              id="leavingFrom"
              name = "leavingFrom"
              placeholder="Leaving From:"
            />
  
        </div>

        <div class = "col d-flex flex-wrap align-content-center justify-content-center">
      
            <input
              type="search"
              class="form-control form-rounded m-0"
              id="destination"
              name = "destination"
              placeholder="Going To:"
            />

        </div>


        <div class = "col d-flex flex-wrap align-content-center justify-content-center">
    
            <!-- <input
              type="search"
              class="form-control form-rounded m-0"
              id="dateSelection"
              name = "dateSelection"
              placeholder="Mode of Transport"
            /> -->

            <select 
              name = "transport_type"
              class="col form-control form-rounded m-0"
              id="transport_type"
              placeholder="Mode of Transport"
              onchange = "getTransportType()"
            >
              {% for mode in transportMode %}
                  <option value="{{mode}}">{{mode}}</option>"
              {% endfor %}
            </select>

        </div>
        
        <!--
        <div class = "col-1 d-flex flex-wrap align-content-center mr-3">
          <a href="/hotelsResult" class = "btn btn-primary" id = "searchButton" type="submit">
            <div class = "searchText">
              Search
            </div>
          </a>
        </div>
        -->

        <div class = "col-1 d-flex flex-wrap align-content-center mr-3"b>
          <button onclick="reloadMap()">
            Search
          </button>
        </div>
      </div>
    </div>
    
    


    <div class =  "bt-5" >
    <p align="center">
    <iframe 
    id="map"
    width="900"
    height="550"
    style="border:0" 
    allowfullscreen = true;
    src="https://www.google.com/maps/embed/v1/search?key=AIzaSyAyIxVTSvRTgAXXBOgUbkwasimuxWlqMaQ&q=Singapore">
    </iframe>
    </p>
    </div>

    {% endblock %}

    <script
    async  
    src="https://maps.googleapis.com/maps/api/js?key=https://www.google.com/maps/embed/v1/search?key=AIzaSyAyIxVTSvRTgAXXBOgUbkwasimuxWlqMaQ&callback=initMap&v=weekly"
    </script>
    
    
</body>
